.divTabulador{
	position: absolute;
	width: 99%;
	height: 100%;	
	left: 0.5%;

}

.divFichasTabulador{
	position: absolute;
	width: 100%;
	height: 8%;		
	/*border:solid 1px #888888;	*/
}
.divPanelesTabulador{
	position: absolute;
	top:8%;
	width: 100%;
	height: 92%;	
	border: solid 1px #aaaaaa;
}

.divFichaTabulador{
  position:absolute;
  height:100%;
  background-color: white;
  border-top:solid 1px #aaaaaa;
  border-left:solid 1px #aaaaaa;
  border-right:solid 1px #aaaaaa;
  z-index: 1;
  font-weight:bold;
  text-align:center;
  font-size:15px;
  display:table;
  -webkit-border-radius: 10px 10px 0px 0px;  /* Safari  */
  -moz-border-radius: 10px 10px;   
}
